.tabuleiro {
	width: 600px;
	height: 600px;
	border: 1px solid #000080;
	display: flex;
	flex-wrap: wrap;
}

.linha {
	display: flex;
}

.celula {
	width: 200px;
	height: 200px;
	border: 1px solid #00ff00;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 36px;
}
.alert {
    width: 800px;
	height: 800px;
	border: 5px solid #000080;
	display: flex;
	flex-wrap: wrap;
    
    
}
#reiniciar {
	margin-top: 20px;
}